In [7]:
import pandas as pd
import numpy as np
import requests
from sqlalchemy import create_engine
import json
from selenium import webdriver

In [4]:
f = open(r'C:\Users\henri\OneDrive\ProjetosDS\F1\keys.json')
my_keys = json.load(f)

In [5]:
usuario = my_keys['user']
senha = my_keys['password']

In [8]:
engine = create_engine(f'mysql://{usuario}:{senha}@localhost:3306/F1')

In [3]:
rounds = pd.read_sql('SELECT DISTINCT `season`, `round`,`circuitId`, `url` FROM races', engine)

rounds.head()

,season,round,circuitId,url
0,1950,1,silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [4]:
weather = rounds.iloc[:,[0,1,2]]

In [5]:
info = []

for link in rounds.url:
    try:
        df=pd.read_html(link)[0]
        if 'Weather' in list(df.iloc[:,0]):
            n = list(df.iloc[:,0]).index('Weather')
            info.append(df.iloc[n,1])
        else:
            df = pd.read_html(link)[1]
            if 'Weather' in list(df.iloc[:,0]):
                n = list(df.iloc[:,0]).index('Weather')
                info.append(df.iloc[n,1])
            else:
                df = pd.read_html(link)[2]
                if 'Weather' in list(df.iloc[:,0]):
                    n = list(df.iloc[:,0]).index('Weather')
                    info.append(df.iloc[n,1])
                else:
                    df = pd.read_html(link)[3]
                    if 'Weather' in list(df.iloc[:,0]):
                        n = list(df.iloc[:,0]).index('Weather')
                        info.append(df.iloc[n,1])
                    else:
                        driver = webdriver.Chrome()
                        driver.get(link)
                        
                        button = driver.find_element_by_link_text('Italiano')
                        button.click()
                        
                        clima = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div/table[1]/tbody/tr[9]/td').text
                        info.append(clima)

    except:
        info.append('not found')

In [6]:
len(info)

1057

In [7]:
weather['weather'] = info

In [8]:
weather.head()

  season round     circuitId              weather
0   1950     1   silverstone    Sunny, mild, dry.
1   1950     2        monaco            not found
2   1950     3  indianapolis                Rainy
3   1950     4    bremgarten  Warm, dry and sunny
4   1950     5           spa  Warm, dry and sunny

In [9]:
# Create a Weather Dictionnary

weather_dict = {'weather_warm': ['soleggiato', 'clear', 'warm', 'hot', 'sunny', 'fine', 'mild', 'sereno'],
               'weather_cold': ['cold', 'fresh', 'chilly', 'cool'],
               'weather_dry': ['dry', 'asciutto'],
               'weather_wet': ['showers', 'wet', 'rain', 'pioggia', 'damp', 'thunderstorms', 'rainy'],
               'weather_cloudy': ['overcast', 'nuvoloso', 'clouds', 'cloudy', 'grey', 'coperto']}

In [10]:
weather_df = pd.DataFrame(columns = weather_dict.keys())

In [11]:
weather_df.head()

Empty DataFrame
Columns: [weather_warm, weather_cold, weather_dry, weather_wet, weather_cloudy]
Index: []

In [12]:
for col in weather_df:
    weather_df[col] = weather['weather'].map(lambda x: 1 if any(i in weather_dict[col] for i in x.lower().split()) else 0)

In [13]:
weather_df.head()

   weather_warm  weather_cold  weather_dry  weather_wet  weather_cloudy
0             0             0            0            0               0
1             0             0            0            0               0
2             0             0            0            1               0
3             1             0            1            0               0
4             1             0            1            0               0

In [14]:
weather_info = pd.concat([weather, weather_df], axis = 1)

In [15]:
weather_info.shape

(1057, 9)

In [16]:
weather_info.head()

,season,round,circuitId,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1950,1,silverstone,"Sunny, mild, dry.",0,0,0,0,0
1,1950,2,monaco,not found,0,0,0,0,0
2,1950,3,indianapolis,Rainy,0,0,0,1,0
3,1950,4,bremgarten,"Warm, dry and sunny",1,0,1,0,0
4,1950,5,spa,"Warm, dry and sunny",1,0,1,0,0

In [17]:
weather_info.to_sql('weather', engine, if_exists='replace',index=False)